button {
  background: none;
  border: none;
  padding: 0;
}
.type {
  padding: 0 10px;
}

.outflow {
  color: #D50000;
}

.mdl-data-table {
  white-space: initial;
  width: 100%;
}

.mdl-data-table td {
  padding: 6px 9px;
}
.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
  padding-right: 9px;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
  padding-left: 9px;
}

.mdl-data-table th {
  padding: 0 9px 6px 9px;
}

.balance-box {
  font-size: 1.5em;
}

#inflow-bar {
  background-color: rgb(76,175,80);
  padding: 5px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); 
}

#outflow-bar {
  background-color: rgb(255,64,129);
  padding: 5px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.inflow-label {
  text-align: left;
}

.box {
  margin: 0.625em;
  border-radius: 0.625em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-data-table {
  border: none;
}