button {
  background: none;
  border: none;
  padding: 0;
}
.type {
  padding: 0 10px;
}

.outflow {
  color: #D50000;
}

.mdl-data-table {
  white-space: initial;
  width: 100%;
}

.mdl-data-table td {
  padding: 6px 9px;
}
.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
  padding-right: 9px;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
  padding-left: 9px;
}

.mdl-data-table th {
  padding: 0 9px 6px 9px;
}

.balance-box {
  font-size: 1.5em;
}

#inflow-bar {
  background-color: rgb(76,175,80);
  padding: 5px 0;
}

#outflow-bar {
  background-color: rgb(255,64,129);
  padding: 5px 0;
}
.inflow-label {
  text-align: left;
}

.box {
  background-color: rgba(158,158,158,.2);
  margin: 10px;
  border-radius: 0.625em; 
}